form{
    width: 850px;
    max-width: 358px;
    margin-right: 10px;
    display: block;
    margin-top: 2100px;
    justify-content: center;
    text-align: center;
}
  
form input{
    box-shadow: 5px 8px 8px #b4b2b2;
}

h1{
    font-size: 32px;
    margin-bottom: 32px;
}

  
.button{
    box-shadow: 5px 10px 18px rgb(245, 125, 145);
}

